.block-description 
{
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.product-name {
    padding:5px;
    font-size:36px
}

.productContent {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 60px;
    background-color: #131313;
    color: rgb(211, 211, 211);
    
}


@media screen and (max-width: 1100px) {
    .productContent {
        width: 100%;
        border-width: 0px;
        line-height: 35px;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
    }
}

.image {
    width: 100%;
    height: auto;
    border-width: 0px;
}

.nice-underline
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border: solid;
    border-color: rgb(102, 102, 102);
    border-width: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    background-color: rgb(41, 41, 41);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nice-underline-center {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border: solid;
    border-color: rgb(102, 102, 102);
    border-width: 3px;
    border-right: 3px;
    border-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    background-color: rgb(41, 41, 41);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


li
{
    padding-left: 0px;
}

.image-width100
{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  display: block;
  border: 4px solid black;
}
.singleFeature-header
{   
    all: unset;
    display: block;
    font-size: 24px;
    padding: 10px;
}

.projectTypeHeader {
    color: white;
    background-color:black;
    margin: 2px;
    font-size: 22px;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
}

.projectTypes-container {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}

.technology-container {
    max-width: 350px;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}
.technology {
    color: black;
    font-family: "Roboto_Bold";
    margin: 2px;
    font-size: 19px;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
}
.tech-net {
    background-color: rgb(204, 0, 255);
}
.tech-html {
    background-color: orange;
}
.tech-css
{
    background-color: aqua;
}
.tech-MVC
{
    background-color: rgb(162, 0, 255);
}
.tech-ef {
    background-color: rgb(0, 255, 255);
}
.tech-mediatr{
    background-color: greenyellow;
}
.tech-postgres
{
    background-color: rgb(0, 110, 255);
}
.tech-mssql
{
    background-color: rgb(112, 112, 112);
}
.tech-js
{
    background-color: rgb(255, 238, 0);
}
.tech-tcpip
{
    background-color: red;
}
.tech-unity {
    background-color: white;
}