@page
@model RazorPortfolio.Pages.Index1Model
@{
}
<link rel="stylesheet" href="~/css/projects.css" />


<div class="productContent">
    <div class="block-description">
        <h1>Contact</h1>
        <a href="https://github.com/zbigniewProjects" target="_blank">GitHub</a><br>
        <a href="mailto:zbigniew.stiasny@gmail.com"> zbigniew.stiasny@gmail.com </a>
    </div>
</div>

