@page
@using RazorPortfolio.Utils
@model IndexModel
@{
    ViewData["Title"] = "zbigniew.dev";
}
<link rel="stylesheet" href="~/css/projects.css" />

<div class="text-center">
    <h1 class="display-4">.Net C# Backend Developer</h1>
    (with frontend capabilities)
    <br><br>
    <div class="index-fontSize">
        <a href="https://github.com/zbigniewProjects" target="_blank">GitHub</a><br>
        <a href="/projects"> Portfolio</a><br>
        <a href="/contact"> Contact</a><br><br>
    </div>

    <h2>Skills</h2>
    @{
        Technologies[] tech = {
            Technologies.csharp,
            Technologies.dotNet,
            Technologies.aspNet,
            Technologies.mvc,
            Technologies.entityFramework,
            Technologies.postgresql,
            Technologies.tcpip,
            Technologies.html,
            Technologies.css,
            Technologies.javascript,
            Technologies.reactJS,
        };
    }

    @Html.Raw(Render.RenderTechnologies(tech, false))
    <br>

    <h3>This website's TechStack: </h3>
    Ubuntu22<br>
    nginx<br>
    ASP.NET Core Razor Pages Server<br>
</div>
