@page
@model IndexModel
@{
    ViewData["Title"] = "zbigniew.dev";
}

<div class="text-center">
    <h1 class="display-4">C#/.Net Backend Developer</h1>   
    (with frontend capabilities)
    <br><br>
    <div class="index-fontSize">
        <a href="https://github.com/zbigniewProjects" target="_blank">GitHub</a><br>
        <a href="/projects"> Portfolio</a><br>
        <a href="/contact"> Contact</a><br><br>
    </div>
    <h3>This website's TechStack: </h3>
    Ubuntu22<br>
    .NET Razor Pages Server<br>
    nginx
</div>
